<ion-view>
    <ion-nav-title>CompraFácil</ion-nav-title>
    <ion-content class="padding">
         <button type="button" ng-click="produtos()" class="button button-balanced button-full">Cadastrar Produtos</button>
         <button type="button" ng-click="pedidos()" class="button button-royal button-full">Efetuar Pedido</button>

    </ion-content>
</ion-view>