<ion-view>
    <ion-nav-title>CompraFácil - Produto</ion-nav-title>
    <div class="bar bar-subheader">
        <button ng-click="voltar()" class="button button-icon button-clear ion-backspace"></button>
        <h2 class="title">Adicionar</h2>
    </div>
    <ion-content class="padding has-subheader">

        <form class="list" ng-submit="saveProduct()">
            <label class="item item-input">
                <span class="input-label">Nome:</span>
                <input type="text" ng-model="name" name="name" />
            </label>
            <label class="item item-input">
                <span class="input-label">Quantidade:</span>
                <input type="text" ng-model="qtd" name="qtd" />
            </label>
            <label class="item item-input">
                <span class="input-label">Descrição:</span>
                <input type="text" ng-model="description" name="description" />
            </label>
            <label class="item item-input">
                <span class="input-label">Preço:</span>
                <input type="text" ng-model="price" name="price" />
            </label>

            <button type="submit" class="button button-balanced button-full">Salvar</button>
        </form>
        <br />

        <ion-list>
            <ion-item ng-repeat="o in items">
                {{o.name}}
                <p>{{o.description}}</p>
                <span class="item-note">
                    <i class="ion ion-cash">{{o.price}}</i>
                </span>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>